.bodys{
    background: url('Quora3.gif')no-repeat;
    background-size: cover;
}


.abc{

    width: 200px;
    margin:auto;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   
    
}

.xyz{
    width: 300px;
    top:40%;
    left: 40%;
    transform: translate(-75,-75);
    position:absolute;
    

}
